
<ion-content class="inicio-content">
  <!-- Primer contenedor: Texto -->
  <div class="container texto-container">
    <p style="color: black;">Bienvenidos a la aplicación móvil</p>
  </div>

  <!-- Segundo contenedor: Botón -->
  <div class="container button-container">
    <ion-button expand="full" (click)="accionBoton1()">Gestionar viajes</ion-button>
  </div>

  <!-- Tercer contenedor: Botón -->
  <div class="container button-container">
    <ion-button expand="full" (click)="accionBoton2()">Reportes de obras</ion-button>
  </div>

  <!-- Cuarto contenedor: Botón -->
  <div class="container button-container">
    <ion-button expand="full" (click)="accionBoton3()">Reportes Gráficos</ion-button>
  </div>

  <!-- Quinto contenedor: Imagen -->
  <div class="container imagen-container">
    <img src="assets/avion.jpeg" alt="Imagen descriptiva" class="imagen">
  </div>
</ion-content>
